In [24]:
import pandas as pd

In [25]:
relation = {'node':[1,2,3,4,5,6,7,8,9],
        'friends':[(3,4,2),(7,3,8,1),(1,5,2),(5,2,6,1),(3,4,6),(9,4),(8,2,4,9,1,5),(7,3,6,2,5),(8,2,6,1)],
        'lag':[45,20,34,9,65,17,29,3,15]}

In [27]:
df = pd.DataFrame(data=relation,columns=['node','friends','lag'])
df

   node             friends  lag
0     1           (3, 4, 2)   45
1     2        (7, 3, 8, 1)   20
2     3           (1, 5, 2)   34
3     4        (5, 2, 6, 1)    9
4     5           (3, 4, 6)   65
5     6              (9, 4)   17
6     7  (8, 2, 4, 9, 1, 5)   29
7     8     (7, 3, 6, 2, 5)    3
8     9        (8, 2, 6, 1)   15

In [6]:
df.lag[df.node==df.node[0]]

In [29]:
df.friends[7]

(7, 3, 6, 2, 5)

In [30]:
len(df.friends[7])

5

In [31]:
df.friends[0]

(3, 4, 2)

In [32]:
df.friends[0][1]

4

In [33]:
df

   node             friends  lag
0     1           (3, 4, 2)   45
1     2        (7, 3, 8, 1)   20
2     3           (1, 5, 2)   34
3     4        (5, 2, 6, 1)    9
4     5           (3, 4, 6)   65
5     6              (9, 4)   17
6     7  (8, 2, 4, 9, 1, 5)   29
7     8     (7, 3, 6, 2, 5)    3
8     9        (8, 2, 6, 1)   15

In [35]:
df['relation']=''

In [44]:
df['ratio']=0.0

In [49]:
df.lag[df.node==df.friends[j][i]].values

array([45], dtype=int64)

In [45]:
b=[]
for j in range(9):
    i=0
    a=[]
    for i in range(len(df.friends[j])):
        #print(df.lag[df.node==df.friends[j][i]].values# )
        if df.lag[df.node==df.friends[j][i]].values<df.lag[df.node==df.node[j]].values:
            a.append(df.friends[j][i])
    df['relation'][j]=a
    df['ratio'][j] = len(a)/(i+1)

C:\Users\sumith.singh\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\sumith.singh\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [50]:
df

   node             friends  lag      relation     ratio
0     1           (3, 4, 2)   45     [3, 4, 2]  1.000000
1     2        (7, 3, 8, 1)   20           [8]  0.250000
2     3           (1, 5, 2)   34           [2]  0.333333
3     4        (5, 2, 6, 1)    9            []  0.000000
4     5           (3, 4, 6)   65     [3, 4, 6]  1.000000
5     6              (9, 4)   17        [9, 4]  1.000000
6     7  (8, 2, 4, 9, 1, 5)   29  [8, 2, 4, 9]  0.666667
7     8     (7, 3, 6, 2, 5)    3            []  0.000000
8     9        (8, 2, 6, 1)   15           [8]  0.250000